---
---

@import "{{ site.theme }}";

header {
    background: url(../images/background.png) #880015;
}

#banner .fork {
	position: relative;
	left: 74%;
	margin-left: -242px;
}

@media print, screen and (max-width: 720px) {
  #banner .fork {
    float: none;
  }
}
